@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  $primary-color: #172b4d;
  $logo-color: #6070ff;
  $light-blue: #7f8cff;
  $hover-color: #2230d2;
  $main-font: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $main-font;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 50px;
  color: $primary-color;
  margin-bottom: 20px;
}

a {
  font-size: 15px;
  color: $light-blue;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;

  a:hover {
    color: $hover-color;
  }
}

.navbar-brand h2 {
  margin-top: 20px;
  font-size: 30px;
  color: $logo-color;
  font-weight: 700;
}

.masthead {
  background-image: url("/images/dsk-base.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.hero-text {
  margin-top: 20%;

  p {
    width: 85%;
    font-size: 20px;
  }
}
